@app-navbar-height: 60px;
@app-sidebar-width: 215px;
@app-sidebar-collapse-width: 85px;
@app-tag-height: 30px;
@htmlWeakNessClassName: html-weakness;
@htmlGrayClassName: html-gray;
@primary-color: rgb(var(--arcoblue-6));
@app-sidebar-bk-color: rgb(var(--arcoblue-6));
@app-sidebar-bk-chose-color: rgb(var(--arcoblue-4));
@app-sidebar-border-color: rgb(var(--arcoblue-9));
@app-navbar-bk-color: rgb(var(--arcoblue-6));
@app-navbar-bk-chose-color: rgb(var(--arcoblue-4));
:export {
  htmlWeakNessClassName: @htmlWeakNessClassName;
  htmlGrayClassName :@htmlGrayClassName;
}
