@import "./_transition.less";
@import "./_mixins.less";
@import "./_variables.module.less";

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue,
    Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  background-color: rgb(242,243,245);
  &.@{weakNessClassName} {
    filter: invert(80%);
  }
  &.@{grayClassName} {
    filter: grayscale(100%);
  }
}

html {
  height: 100%;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width: 100%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.app-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  &.not-show-app-navbar {
    .app-navbar {
      height: 0;
    }
    .app-sidebar{
      .logo-wrapper{
        display: unset;
      }
    }
  }
  &.not-show-sidebar {
    > .bottom-wrapper .bottom-left-wrapper .app-sidebar {
      width: 0;
      &.menu-collapse{
        width: 0;
      }
      .arco-menu::before, .arco-menu-collapse-button{
        display: none;
      }
    }
  }
  > .app-navbar {
    height: @app-navbar-height;
    background: @primary-color;
    transition: height 0.28s;
    overflow: hidden;
  }
  > .bottom-wrapper {
    height: 0;
    flex: 1;
    width: 100%;
    position: relative;
    display: flex;
    .bottom-left-wrapper{
      .app-sidebar {
        width: @app-sidebar-width;
        height: 100%;
        background-color: @app-sidebar-bk-color;
        transition: width 0.28s;
        &.menu-collapse{
          width: @app-sidebar-collapse-width;
        }
      }
    }
    .bottom-right-wrapper {
      width: 0;
      flex: 1;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      .app-main{
        height: 0;
        flex: 1;
      }
      .app-tag {
        z-index: 1;
        height: @app-tag-height;
      }
    }
  }
}
