@import './transition.scss';

/* Global scss */

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  height: 100%;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width: 100%;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a,
a:focus,
a:hover {
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  @include clearfix;
}

.app-wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  &.not-show-app-navbar{
    .app-navbar{
      height: 0;
    }
  }
  &.not-show-sidebar{
    .bottom-wrapper .app-sidebar{
      width: 0;
    }
  }
  >.app-navbar{
    height: $app-navbar-height;
    background: #06979C;
    transition: height 0.28s;
  }
  >.bottom-wrapper{
    height: 0;
    flex: 1;
    width: 100%;
    position: relative;
    display: flex;
    >.app-sidebar{
      width: $app-sidebar-width;
      height: 100%;
      background: #313749;
      transition: width 0.28s;
    }
    >.app-main{
      width: 0;
      flex: 1;
      overflow-y: auto;
    }
  }
}
