@font-face {
  font-family: "iconfont"; /* Project id 2827685 */
  src: url('//at.alicdn.com/t/font_2827685_92nlwg27qz8.woff2?t=1634797102410') format('woff2'),
  url('//at.alicdn.com/t/font_2827685_92nlwg27qz8.woff?t=1634797102410') format('woff'),
  url('//at.alicdn.com/t/font_2827685_92nlwg27qz8.ttf?t=1634797102410') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dangshui:before {
  content: "\e749";
}

.icon-dianzhan:before {
  content: "\e74a";
}

.icon-yinshui:before {
  content: "\e74b";
}

.icon-tonghang:before {
  content: "\e74c";
}

.icon-guoyu:before {
  content: "\e74d";
}

.icon-xiehsui:before {
  content: "\e74e";
}

.icon-shushui:before {
  content: "\e74f";
}

.icon-flip-2:before {
  content: "\e748";
}

.icon-link-2:before {
  content: "\e747";
}

.icon-tuichu:before {
  content: "\e746";
}

.icon-shuiku:before {
  content: "\e743";
}

.icon-gongchengguanli1:before {
  content: "\e744";
}

.icon-shuiwen:before {
  content: "\e745";
}

.icon-bx-bar-chartbeifen:before {
  content: "\e742";
}

.icon-bx-bar-chart:before {
  content: "\e741";
}

.icon-shenchayijian:before {
  content: "\e73b";
}

.icon-chanchuxiaoyi:before {
  content: "\e73f";
}

.icon-gongchengguanli:before {
  content: "\e740";
}

.icon-wancheng:before {
  content: "\e73e";
}

.icon-gengduo:before {
  content: "\e739";
}

.icon-kejian:before {
  content: "\e73a";
}

.icon-biaoji:before {
  content: "\e73c";
}

.icon-quxiao1:before {
  content: "\e73d";
}

.icon-fangda:before {
  content: "\e738";
}

.icon-suoxiao:before {
  content: "\e72f";
}

.icon-xinzengwenjianjia:before {
  content: "\e730";
}

.icon-search-close:before {
  content: "\e731";
}

.icon-search:before {
  content: "\e732";
}

.icon-xinzengziliao:before {
  content: "\e733";
}

.icon-sahnchu:before {
  content: "\e734";
}

.icon-list1:before {
  content: "\e735";
}

.icon-printer:before {
  content: "\e736";
}

.icon-list2:before {
  content: "\e737";
}

.icon-guanbi:before {
  content: "\e72d";
}

.icon-shangchuan:before {
  content: "\e72e";
}

.icon-zhucedengji:before {
  content: "\e727";
}

.icon-guanliqingkuang:before {
  content: "\e728";
}

.icon-tezhengzhibiao:before {
  content: "\e729";
}

.icon-zuoyongxiaoyi:before {
  content: "\e72a";
}

.icon-fujian:before {
  content: "\e72b";
}

.icon-jibenqingkuang:before {
  content: "\e72c";
}

.icon-zidongyiziduan:before {
  content: "\e725";
}

.icon-quxiao:before {
  content: "\e726";
}

.icon-daochu:before {
  content: "\e71d";
}

.icon-zhedie:before {
  content: "\e71e";
}

.icon-bianji:before {
  content: "\e71f";
}

.icon-zhankai:before {
  content: "\e720";
}

.icon-riqi:before {
  content: "\e721";
}

.icon-daoru:before {
  content: "\e722";
}

.icon-xiazai:before {
  content: "\e723";
}

.icon-baocun:before {
  content: "\e724";
}
